* body {
    
    background-image: url("../img/olympic.jpg");
    
  }
  .hide {
    display: none;
  }
  
  #quizbox {

    background-image: url("../img/olympictorch.jpg");



  }

  #title {

    font-family: 'Universe', cursive;
    font-size: x-large;


  }

  #startbutton, #starthere {

    font-family: 'Universe', cursive;
    font-size: x-large;


  }

  #timeremaining {

    font-family: 'Universe', cursive;
    font-size: x-large;

  }

  #questionblock {

    font-family: 'Universe', cursive;
    font-size: x-large;

  }

  #correctanswer{

    font-family: 'Universe', cursive;
    font-size: x-large;

    
  }